dash
dash-core-components
dash-html-components
dash_bootstrap_components
dash-renderer
dash-table
dask==2022.7.0
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.1
djangorestframework==3.12.4
Flask==2.1.3
Flask-Compress==1.10.1
gunicorn==20.1.0
Jinja2==3.1.2
jinja2-time==0.2.0
matplotlib==3.5.0
matplotlib-inline==0.1.6
nbconvert==7.0.0
nodejs==0.1.1
numpy==1.21.5
pandas==1.4.4
pathlib==1.0.1
pip==22.2.2
plotly==5.10.0
scipy==1.7.3
seaborn==0.12.0
virtualenv==20.16.5
wheel==0.37.1
werkzeug